.menu {
  width: 100vw;
  height: 48px;
  display: flex;
}

.menu-item {
  background-color: #ededed;
}

.main-menu {
  position: absolute;
}

.sub-menu {
  display: flex;
  align-items: flex-start;
}

.menu-item:hover,
.sub-menu:hover,
.menu-item-name:hover {
  cursor: pointer;
}

.menu-item-name {
  padding: 10px;
}

.menu-item-name:hover {
  background-color: #cacaca;
}